#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flashcard-container {
  display: flex;
  justify-content: center;
}

.flashcard {
  background-color: white;
  color: black;
  padding: 30px;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}